!!!  
%html
	%head
		%link(href="css/bootstrap.min.css" rel="stylesheet" type="text/css")
		%link(href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css")	
		%link(href="css/style.css" rel="stylesheet" type="text/css")
	%body
		=yield

		%script(src="js/jquery-1.9.1.min.js")
		%script(src="js/bootstrap.min.js")
		%script(src="js/handlebars.js")
		%script(src="js/ember-1.0.0-rc.1.js")

		%script(src="templates")
		%script(src="app/app.js")